{% extends "_global/index.html" %}

{% block main %}
<!--<h1>{{ category.name|escape }}</h1>
<p>Spisak antikviteta u ovoj kategoriji je:</p>-->
<div class="row">

    {% for antique in antiquesInCategory %}
    <div class="card border-primary col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center category">
    
        <a href="{{ BASE }}antique/{{ antique.antique_id }}" class="antique-image"> <!--OVDE TREBA KLASA -image ? -->
            <img class="card-img-top" src="{{ BASE }}assets/uploads/id{{ antique.antique_id }}.jpg" alt="Slika - {{ antique.antique_id }}"> <!--PROMENITI SRC KASNIJE-->
        </a>
        <a href="{{ BASE }}antique/{{ antique.antique_id }}" class="card-title"><!--Ruta ka podacima o antikvitetu-->
            {{ antique.title|escape }}
        </a>
        <span class="antique-brief-description">{{ antique.brief_description|escape }}</span> <!--Za sada ovo samo-->
        <span class="antique-price">
            {% if antique.price != null %}
                {{ antique.price }} &euro;
            {% else %}
                Nije na prodaju
            {% endif %}
        </span>
        <span class="antique-address">{{ antique.adress }}</span>
        
    </div>
    {% endfor %}

</div>
<!--<p>Kategorija je kreirana: {{ category.created_at }}</p>
<p>ID administratora koji je poslednji vršio izmene je: {{ category.administrator_id }}</p>-->
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}